v5b-cloudformation-regional/cloudformation/pipeline.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  File Processing Pipeline
  Creates the full infrastructure for file upload,
  processing, storage and notifications.

Parameters:
  Environment:
    Type: String
    Default: prod
    Description: Environment name

  UploadBucketName:
    Type: String
    Default: upload-bucket
    Description: Base name for the S3 upload bucket

  ProcessedBucketName:
    Type: String
    Default: processed-bucket
    Description: Base name for the S3 processed bucket

  DynamoDBTableName:
    Type: String
    Default: FileMetadata
    Description: Base name for the DynamoDB table

  NotificationEmail:
    Type: String
    Description: Email address for notifications

Resources:

  # ─────────────────────────────────────────
  # S3 Buckets
  # ─────────────────────────────────────────
  UploadBucket:
    Type: AWS::S3::Bucket
    DependsOn: FileProcessingQueue
    Properties:
      BucketName: !Sub ${Environment}-${AWS::Region}-${UploadBucketName}
      CorsConfiguration:
        CorsRules:
          - AllowedHeaders:
              - '*'
            AllowedMethods:
              - PUT
              - GET
            AllowedOrigins:
              - '*'
            MaxAge: 3000
      # FIX #7 - Added lifecycle policy to auto-expire raw uploaded files
      # after 7 days, preventing indefinite accumulation in the upload bucket
      LifecycleConfiguration:
        Rules:
          - Id: CleanupUploads
            Status: Enabled
            ExpirationInDays: 7
      NotificationConfiguration:
        QueueConfigurations:
          - Event: s3:ObjectCreated:*
            Queue: !GetAtt FileProcessingQueue.Arn
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  ProcessedBucket:
    Type: AWS::S3::Bucket
    DependsOn: OwnerAlertTopic
    Properties:
      BucketName: !Sub ${Environment}-${AWS::Region}-${ProcessedBucketName}
      # Added CORS so the frontend can fetch result files directly from
      # the processed bucket using presigned URLs
      CorsConfiguration:
        CorsRules:
          - AllowedHeaders:
              - '*'
            AllowedMethods:
              - GET
            AllowedOrigins:
              - '*'
            MaxAge: 3000
      NotificationConfiguration:
        TopicConfigurations:
          - Event: s3:ObjectRemoved:*
            Topic: !Ref OwnerAlertTopic
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  # ─────────────────────────────────────────
  # SQS Queues
  # ─────────────────────────────────────────
  DeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub ${Environment}-${AWS::Region}-FileProcessingDLQ
      MessageRetentionPeriod: 1209600

  FileProcessingQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub ${Environment}-${AWS::Region}-FileProcessingQueue
      # FIX #6 - Reduced from 300 to 60 seconds. The SQSTrigger Lambda only
      # starts a Step Functions execution (completes in well under 30s), so
      # 300s was excessive. At 60s, failed messages return to the queue faster
      # and AWS's 6x Lambda timeout recommendation is still satisfied.
      VisibilityTimeout: 60
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt DeadLetterQueue.Arn
        maxReceiveCount: 3

  FileProcessingQueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      Queues:
        - !Ref FileProcessingQueue
      PolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              Service: s3.amazonaws.com
            Action: sqs:SendMessage
            Resource: !GetAtt FileProcessingQueue.Arn
            Condition:
              ArnLike:
                aws:SourceArn: !Sub arn:aws:s3:::${Environment}-${AWS::Region}-${UploadBucketName}

  # ─────────────────────────────────────────
  # SNS Topics
  # ─────────────────────────────────────────
  UserNotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub ${Environment}-${AWS::Region}-UserNotifications
      Subscription:
        - Protocol: email
          Endpoint: !Ref NotificationEmail

  OwnerAlertTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub ${Environment}-${AWS::Region}-OwnerAlerts
      Subscription:
        - Protocol: email
          Endpoint: !Ref NotificationEmail

  OwnerAlertTopicPolicy:
    Type: AWS::SNS::TopicPolicy
    Properties:
      Topics:
        - !Ref OwnerAlertTopic
      PolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              Service: s3.amazonaws.com
            Action: sns:Publish
            Resource: !Ref OwnerAlertTopic
            Condition:
              ArnLike:
                aws:SourceArn: !Sub arn:aws:s3:::${Environment}-${AWS::Region}-${ProcessedBucketName}

  # ─────────────────────────────────────────
  # CloudWatch Alarm for DLQ
  # ─────────────────────────────────────────
  DLQAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub ${Environment}-${AWS::Region}-DLQAlarm
      AlarmDescription: Triggered when DLQ receives a message
      Namespace: AWS/SQS
      MetricName: ApproximateNumberOfMessagesVisible
      Dimensions:
        - Name: QueueName
          Value: !GetAtt DeadLetterQueue.QueueName
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      AlarmActions:
        - !Ref OwnerAlertTopic

  # ─────────────────────────────────────────
  # DynamoDB Table
  # ─────────────────────────────────────────
  MetadataTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${Environment}-${AWS::Region}-${DynamoDBTableName}
      BillingMode: PAY_PER_REQUEST
      # FIX #8 - Added processedAt as sort key to support time-based queries
      AttributeDefinitions:
        - AttributeName: fileName
          AttributeType: S
        - AttributeName: processedAt
          AttributeType: S
      KeySchema:
        - AttributeName: fileName
          KeyType: HASH
        - AttributeName: processedAt
          KeyType: RANGE
      # FIX #8 - Added TTL so old records auto-expire after 90 days
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true
      # FIX #8 - GSI to query all records by processing date
      GlobalSecondaryIndexes:
        - IndexName: processedAt-index
          KeySchema:
            - AttributeName: processedAt
              KeyType: HASH
          Projection:
            ProjectionType: ALL

  # ─────────────────────────────────────────
  # IAM Roles
  # ─────────────────────────────────────────
  GeneratePresignedUrlRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${Environment}-${AWS::Region}-GeneratePresignedUrlRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: S3UploadPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: s3:PutObject
                Resource: !Sub arn:aws:s3:::${Environment}-${AWS::Region}-${UploadBucketName}/*
              # FIX #4 - Added s3:GetObject and s3:ListBucket on the processed
              # bucket so the presign Lambda can verify a result file exists
              # via head_object before signing a download URL. Without
              # s3:ListBucket, a missing key returns 403 instead of 404,
              # making "not ready yet" states impossible to distinguish from
              # genuine permission errors on the frontend.
              - Effect: Allow
                Action: s3:GetObject
                Resource: !Sub arn:aws:s3:::${Environment}-${AWS::Region}-${ProcessedBucketName}/*
              - Effect: Allow
                Action: s3:ListBucket
                Resource: !Sub arn:aws:s3:::${Environment}-${AWS::Region}-${ProcessedBucketName}

  WordCountProcessorRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${Environment}-${AWS::Region}-WordCountProcessorRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: WordCountProcessorPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub arn:aws:s3:::${Environment}-${AWS::Region}-${UploadBucketName}/*
                  - !Sub arn:aws:s3:::${Environment}-${AWS::Region}-${ProcessedBucketName}/*
              - Effect: Allow
                Action: s3:PutObject
                Resource: !Sub arn:aws:s3:::${Environment}-${AWS::Region}-${ProcessedBucketName}/*
              - Effect: Allow
                Action: s3:CopyObject
                Resource:
                  - !Sub arn:aws:s3:::${Environment}-${AWS::Region}-${UploadBucketName}/*
                  - !Sub arn:aws:s3:::${Environment}-${AWS::Region}-${ProcessedBucketName}/*
              # FIX #2 & #3 - Added s3:DeleteObject on the upload bucket so
              # MoveToProcessedBucket completes a true move (copy + delete).
              # Without this the original file stays in the upload bucket
              # forever and can potentially re-trigger processing.
              - Effect: Allow
                Action: s3:DeleteObject
                Resource: !Sub arn:aws:s3:::${Environment}-${AWS::Region}-${UploadBucketName}/*
              - Effect: Allow
                Action: dynamodb:PutItem
                Resource: !GetAtt MetadataTable.Arn
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref UserNotificationTopic
              - Effect: Allow
                Action:
                  - sqs:ReceiveMessage
                  - sqs:DeleteMessage
                  - sqs:GetQueueAttributes
                Resource: !GetAtt FileProcessingQueue.Arn

  SQSTriggerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${Environment}-${AWS::Region}-SQSTriggerRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SQSTriggerPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sqs:ReceiveMessage
                  - sqs:DeleteMessage
                  - sqs:GetQueueAttributes
                Resource: !GetAtt FileProcessingQueue.Arn
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Ref FileProcessingWorkflow

  # ─────────────────────────────────────────
  # Lambda Functions
  # ─────────────────────────────────────────
  GeneratePresignedUrlFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub ${Environment}-${AWS::Region}-GeneratePresignedUrl
      Runtime: python3.12
      Handler: index.lambda_handler
      Role: !GetAtt GeneratePresignedUrlRole.Arn
      Timeout: 30
      MemorySize: 128
      Environment:
        Variables:
          UPLOAD_BUCKET: !Sub ${Environment}-${AWS::Region}-${UploadBucketName}
          PROCESSED_BUCKET: !Sub ${Environment}-${AWS::Region}-${ProcessedBucketName}
          CORS_ALLOW_ORIGIN: '*'
          ALLOWED_EXTENSIONS: .txt,.csv,.doc,.pdf
          AWS_REGION_NAME: !Ref AWS::Region
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          from botocore.exceptions import ClientError

          REGION             = os.environ.get('AWS_REGION_NAME', 'eu-west-3')
          UPLOAD_BUCKET      = os.environ.get('UPLOAD_BUCKET')
          PROCESSED_BUCKET   = os.environ.get('PROCESSED_BUCKET')
          ALLOWED_EXTENSIONS = os.environ.get('ALLOWED_EXTENSIONS', '.txt,.csv,.doc,.pdf').split(',')
          ALLOWED_ORIGINS    = os.environ.get('CORS_ALLOW_ORIGIN', '*').split(',')

          s3 = boto3.client(
              's3',
              region_name=REGION,
              endpoint_url=f'https://s3.{REGION}.amazonaws.com'
          )

          def get_cors_headers(event):
              origin = event.get('headers', {}).get('origin') or event.get('headers', {}).get('Origin', '')
              allowed_origin = origin if origin in ALLOWED_ORIGINS else ALLOWED_ORIGINS[0]
              return {
                  'Access-Control-Allow-Origin': allowed_origin,
                  'Access-Control-Allow-Headers': 'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token',
                  'Access-Control-Allow-Methods': 'POST,OPTIONS',
                  'Vary': 'Origin'
              }

          def lambda_handler(event, context):
              print(f"Received event: {json.dumps(event)}")
              CORS_HEADERS = get_cors_headers(event)
              path = event.get('resource', event.get('path', ''))

              if event.get('httpMethod') == 'OPTIONS':
                  return {'statusCode': 200, 'headers': CORS_HEADERS, 'body': json.dumps('OK')}

              try:
                  body = json.loads(event['body'])

                  # ── Download route ──
                  if '/download' in path:
                      key = body.get('key')
                      if not key:
                          return {
                              'statusCode': 400,
                              'headers': CORS_HEADERS,
                              'body': json.dumps({'error': 'key is required'})
                          }

                      # FIX #0 (ROOT CAUSE) - Check the result file exists
                      # before signing. This prevents the browser receiving a
                      # 403 caused by signing against stale STS credentials
                      # or against a key that does not exist yet. A 404 with
                      # a retry hint is returned so the frontend can poll.
                      try:
                          s3.head_object(Bucket=PROCESSED_BUCKET, Key=key)
                      except ClientError as e:
                          error_code = e.response['Error']['Code']
                          if error_code in ('404', 'NoSuchKey'):
                              return {
                                  'statusCode': 404,
                                  'headers': CORS_HEADERS,
                                  'body': json.dumps({
                                      'error': 'Result not ready yet, please retry shortly',
                                      'retryAfterSeconds': 5
                                  })
                              }
                          raise

                      download_url = s3.generate_presigned_url(
                          'get_object',
                          Params={'Bucket': PROCESSED_BUCKET, 'Key': key},
                          ExpiresIn=300
                      )
                      return {
                          'statusCode': 200,
                          'headers': CORS_HEADERS,
                          'body': json.dumps({'download_url': download_url})
                      }

                  # ── Upload route ──
                  filename     = body.get('filename')
                  content_type = body.get('contentType', 'application/octet-stream')

                  if not filename:
                      return {
                          'statusCode': 400,
                          'headers': CORS_HEADERS,
                          'body': json.dumps({'error': 'filename is required'})
                      }

                  if not any(filename.endswith(ext) for ext in ALLOWED_EXTENSIONS):
                      return {
                          'statusCode': 400,
                          'headers': CORS_HEADERS,
                          'body': json.dumps({'error': f'Invalid file type. Allowed: {ALLOWED_EXTENSIONS}'})
                      }

                  presigned_url = s3.generate_presigned_url(
                      'put_object',
                      Params={
                          'Bucket': UPLOAD_BUCKET,
                          'Key': filename,
                          'ContentType': content_type
                      },
                      ExpiresIn=300
                  )

                  print(f"Generated presigned URL for: {filename}")

                  return {
                      'statusCode': 200,
                      'headers': CORS_HEADERS,
                      'body': json.dumps({
                          'upload_url': presigned_url,
                          'filename': filename,
                          'expires_in': '5 minutes'
                      })
                  }

              except ClientError as e:
                  print(f"ClientError: {str(e)}")
                  return {
                      'statusCode': 500,
                      'headers': CORS_HEADERS,
                      'body': json.dumps({'error': str(e)})
                  }

              except Exception as e:
                  print(f"Unexpected error: {str(e)}")
                  return {
                      'statusCode': 500,
                      'headers': CORS_HEADERS,
                      'body': json.dumps({'error': 'An unexpected error occurred'})
                  }

  SQSTriggerFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub ${Environment}-${AWS::Region}-SQSTriggerStepFunctions
      Runtime: python3.12
      Handler: index.lambda_handler
      Role: !GetAtt SQSTriggerRole.Arn
      Timeout: 30
      MemorySize: 128
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref FileProcessingWorkflow
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          from urllib.parse import unquote_plus

          stepfunctions     = boto3.client('stepfunctions')
          STATE_MACHINE_ARN = os.environ.get('STATE_MACHINE_ARN')

          def lambda_handler(event, context):
              print(f"Received event: {json.dumps(event)}")
              for record in event['Records']:
                  body     = json.loads(record['body'])
                  s3_event = body['Records'][0]['s3']
                  bucket   = s3_event['bucket']['name']
                  key      = unquote_plus(s3_event['object']['key'])
                  print(f"Starting Step Functions for: {bucket}/{key}")
                  response = stepfunctions.start_execution(
                      stateMachineArn=STATE_MACHINE_ARN,
                      input=json.dumps({'bucket': bucket, 'key': key})
                  )
                  print(f"Execution started: {response['executionArn']}")
              return {'statusCode': 200}

  SQSTriggerEventSourceMapping:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      EventSourceArn: !GetAtt FileProcessingQueue.Arn
      FunctionName: !GetAtt SQSTriggerFunction.Arn
      BatchSize: 1
      Enabled: true

  # ─────────────────────────────────────────
  # Step Functions Role
  # ─────────────────────────────────────────
  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${Environment}-${AWS::Region}-StepFunctionsRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt WordCountProcessorFunction.Arn
              - Effect: Allow
                Action: sns:Publish
                Resource:
                  - !Ref UserNotificationTopic
                  - !Ref OwnerAlertTopic

  # ─────────────────────────────────────────
  # WordCount Processor Lambda
  # FIX #5 - Standardised runtime to python3.12 (was python3.11)
  # ─────────────────────────────────────────
  WordCountProcessorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub ${Environment}-${AWS::Region}-WordCountProcessor
      Runtime: python3.12
      Handler: index.lambda_handler
      Role: !GetAtt WordCountProcessorRole.Arn
      Timeout: 300
      MemorySize: 512
      Environment:
        Variables:
          SNS_TOPIC_ARN:     !Ref UserNotificationTopic
          DDB_TABLE_NAME:    !Sub ${Environment}-${AWS::Region}-${DynamoDBTableName}
          PROCESSED_BUCKET:  !Sub ${Environment}-${AWS::Region}-${ProcessedBucketName}
          UPLOAD_BUCKET:     !Sub ${Environment}-${AWS::Region}-${UploadBucketName}
          DDB_PARTITION_KEY: fileName
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          from datetime import datetime, timezone
          from urllib.parse import unquote_plus

          REGION            = os.environ.get('AWS_REGION', 'eu-west-3')
          SNS_TOPIC_ARN     = os.environ.get('SNS_TOPIC_ARN')
          DDB_TABLE_NAME    = os.environ.get('DDB_TABLE_NAME')
          PROCESSED_BUCKET  = os.environ.get('PROCESSED_BUCKET')
          UPLOAD_BUCKET     = os.environ.get('UPLOAD_BUCKET')
          DDB_PARTITION_KEY = os.environ.get('DDB_PARTITION_KEY', 'fileName')

          # FIX #8 - TTL set to 90 days from processing time
          TTL_SECONDS = 90 * 24 * 60 * 60

          s3       = boto3.client('s3',         region_name=REGION)
          sns      = boto3.client('sns',        region_name=REGION)
          dynamodb = boto3.resource('dynamodb', region_name=REGION)

          def process_file(bucket, key):
              print(f"Processing file: s3://{bucket}/{key}")
              filename      = os.path.basename(key)
              download_path = f'/tmp/{filename}'
              s3.download_file(bucket, key, download_path)

              with open(download_path, 'r', encoding='utf-8', errors='ignore') as f:
                  text = f.read()

              word_count   = len(text.split())
              result_key   = f'wordcount-{filename}'
              result_body  = f'Total words in {key}: {word_count}'
              processed_at = datetime.now(timezone.utc).isoformat()

              print(f"Word count for {key}: {word_count}")

              s3.put_object(
                  Bucket=PROCESSED_BUCKET,
                  Key=result_key,
                  Body=result_body
              )

              # FIX #8 - Added processedAt (sort key) and ttl (TTL attribute)
              table = dynamodb.Table(DDB_TABLE_NAME)
              table.put_item(Item={
                  DDB_PARTITION_KEY: key,
                  'processedAt':     processed_at,
                  'WordCount':       word_count,
                  'ttl':             int(datetime.now(timezone.utc).timestamp()) + TTL_SECONDS
              })

              sns.publish(
                  TopicArn=SNS_TOPIC_ARN,
                  Message=f'File {key} processed successfully! {word_count} words counted.',
                  Subject='Text Processing Complete'
              )

              return {
                  'bucket':      bucket,
                  'key':         key,
                  'wordCount':   word_count,
                  'processedAt': processed_at
              }

          # FIX #2 - move_file now completes a true move: copy_object then
          # delete_object. Previously only copy_object was called, leaving
          # the original file in the upload bucket permanently.
          def move_file(source_bucket, destination_bucket, key):
              print(f"Moving s3://{source_bucket}/{key} -> s3://{destination_bucket}/{key}")
              s3.copy_object(
                  CopySource={'Bucket': source_bucket, 'Key': key},
                  Bucket=destination_bucket,
                  Key=key
              )
              s3.delete_object(Bucket=source_bucket, Key=key)
              print(f"Move complete for {key}")
              return {'bucket': source_bucket, 'key': key}

          def lambda_handler(event, context):
              print(f"Raw event received: {json.dumps(event)}")

              if 'action' in event:
                  action = event['action']
                  key    = event['key']

                  if action == 'move':
                      return move_file(
                          event['sourceBucket'],
                          event['destinationBucket'],
                          key
                      )
                  else:
                      return process_file(event['bucket'], key)

              if 'Records' in event:
                  for sqs_record in event['Records']:
                      try:
                          sqs_body = json.loads(sqs_record['body'])
                          if 'Records' not in sqs_body:
                              continue
                          for s3_record in sqs_body['Records']:
                              bucket = s3_record['s3']['bucket']['name']
                              key    = unquote_plus(s3_record['s3']['object']['key'])
                              process_file(bucket, key)
                      except Exception as e:
                          print(f"ERROR processing record: {str(e)}")
                          raise e

              return {'statusCode': 200}

  # ─────────────────────────────────────────
  # Step Functions Workflow
  # FIX #1 - Removed the redundant StoreMetadata state. process_file()
  # already handles S3 write, DynamoDB write and SNS publish in one pass.
  # The SQSTrigger Lambda also no longer passes action:'validate' in the
  # initial input since the workflow starts directly with ProcessWordCount.
  # Workflow is now: ProcessWordCount -> MoveToProcessedBucket ->
  # NotifyUser -> SuccessEnd
  # ─────────────────────────────────────────
  FileProcessingWorkflow:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub ${Environment}-${AWS::Region}-FileProcessingWorkflow
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "File Processing Workflow",
          "QueryLanguage": "JSONata",
          "StartAt": "ProcessWordCount",
          "States": {
            "ProcessWordCount": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${WordCountProcessorFunction.Arn}",
                "Payload": {
                  "action": "process",
                  "bucket": "{% $states.input.bucket %}",
                  "key": "{% $states.input.key %}"
                }
              },
              "Output": "{% $states.result.Payload %}",
              "Next": "MoveToProcessedBucket",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "HandleError"}],
              "Retry": [{"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"], "IntervalSeconds": 1, "MaxAttempts": 3, "BackoffRate": 2}]
            },
            "MoveToProcessedBucket": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${WordCountProcessorFunction.Arn}",
                "Payload": {
                  "action": "move",
                  "sourceBucket": "{% $states.input.bucket %}",
                  "destinationBucket": "${Environment}-${AWS::Region}-${ProcessedBucketName}",
                  "key": "{% $states.input.key %}"
                }
              },
              "Output": "{% $states.result.Payload %}",
              "Next": "NotifyUser",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "HandleError"}],
              "Retry": [{"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"], "IntervalSeconds": 1, "MaxAttempts": 3, "BackoffRate": 2}]
            },
            "NotifyUser": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Arguments": {
                "TopicArn": "${UserNotificationTopic}",
                "Message": "{% 'Your file ' & $states.input.key & ' has been processed successfully. Word count: ' & $string($states.input.wordCount) %}"
              },
              "Next": "SuccessEnd"
            },
            "SuccessEnd": {
              "Type": "Succeed"
            },
            "HandleError": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Arguments": {
                "TopicArn": "${OwnerAlertTopic}",
                "Message": "{% 'Error processing file ' & $states.input.key & '. Please check the DLQ for more details.' %}"
              },
              "Next": "FailEnd"
            },
            "FailEnd": {
              "Type": "Fail"
            }
          }
        }

  # ─────────────────────────────────────────
  # API Gateway
  # ─────────────────────────────────────────
  FileUploadApi:
    Type: AWS::ApiGateway::RestApi
    Properties:
      Name: !Sub ${Environment}-${AWS::Region}-FileUploadApi
      Description: API for file upload portal

  UploadResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref FileUploadApi
      ParentId: !GetAtt FileUploadApi.RootResourceId
      PathPart: upload

  # Added download resource to expose the presigned download endpoint
  DownloadResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref FileUploadApi
      ParentId: !GetAtt FileUploadApi.RootResourceId
      PathPart: download

  PostMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref FileUploadApi
      ResourceId: !Ref UploadResource
      HttpMethod: POST
      AuthorizationType: NONE
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GeneratePresignedUrlFunction.Arn}/invocations

  OptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref FileUploadApi
      ResourceId: !Ref UploadResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: 200
            ResponseParameters:
              method.response.header.Access-Control-Allow-Origin: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Methods: "'POST,OPTIONS'"
      MethodResponses:
        - StatusCode: 200
          ResponseParameters:
            method.response.header.Access-Control-Allow-Origin: false
            method.response.header.Access-Control-Allow-Headers: false
            method.response.header.Access-Control-Allow-Methods: false

  DownloadPostMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref FileUploadApi
      ResourceId: !Ref DownloadResource
      HttpMethod: POST
      AuthorizationType: NONE
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GeneratePresignedUrlFunction.Arn}/invocations

  DownloadOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref FileUploadApi
      ResourceId: !Ref DownloadResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: 200
            ResponseParameters:
              method.response.header.Access-Control-Allow-Origin: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Methods: "'POST,OPTIONS'"
      MethodResponses:
        - StatusCode: 200
          ResponseParameters:
            method.response.header.Access-Control-Allow-Origin: false
            method.response.header.Access-Control-Allow-Headers: false
            method.response.header.Access-Control-Allow-Methods: false

  # FIX #9 - Broadened SourceArn from stage-locked POST-only ARN to
  # cover any method and stage on this API
  ApiGatewayLambdaPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt GeneratePresignedUrlFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${FileUploadApi}/*/*/upload

  ApiGatewayDownloadPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt GeneratePresignedUrlFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${FileUploadApi}/*/*/download

  ApiDeployment:
    Type: AWS::ApiGateway::Deployment
    DependsOn:
      - PostMethod
      - OptionsMethod
      - DownloadPostMethod
      - DownloadOptionsMethod
    Properties:
      RestApiId: !Ref FileUploadApi
      StageName: !Ref Environment

  # FIX #10 - Added throttling to prevent open API abuse.
  # Limits to 5 requests/sec sustained with a burst of 10.
  ApiGatewayStageSettings:
    Type: AWS::ApiGateway::Stage
    DependsOn: ApiDeployment
    Properties:
      RestApiId: !Ref FileUploadApi
      StageName: !Sub ${Environment}-throttled
      DeploymentId: !Ref ApiDeployment
      MethodSettings:
        - ResourcePath: '/*'
          HttpMethod: '*'
          ThrottlingBurstLimit: 10
          ThrottlingRateLimit: 5

# ─────────────────────────────────────────
# Outputs
# ─────────────────────────────────────────
Outputs:
  ApiUrl:
    Description: API Gateway Upload URL
    Value: !Sub https://${FileUploadApi}.execute-api.${AWS::Region}.amazonaws.com/${Environment}/upload

  DownloadApiUrl:
    Description: API Gateway Download URL
    Value: !Sub https://${FileUploadApi}.execute-api.${AWS::Region}.amazonaws.com/${Environment}/download

  UploadBucketName:
    Description: Upload bucket name
    Value: !Sub ${Environment}-${AWS::Region}-${UploadBucketName}

  ProcessedBucketName:
    Description: Processed bucket name
    Value: !Sub ${Environment}-${AWS::Region}-${ProcessedBucketName}

  DynamoDBTableName:
    Description: DynamoDB table name
    Value: !Sub ${Environment}-${AWS::Region}-${DynamoDBTableName}

  StateMachineArn:
    Description: Step Functions state machine ARN
    Value: !Ref FileProcessingWorkflow

  Region:
    Description: Deployed region
    Value: !Ref AWS::Region
